<!DOCTYPE html>
<html>
<head>
  <title>Food subscription</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "food_subscription/application", media: "all" %>
  <%= javascript_include_tag "food_subscription/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
